<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
    <title></title>
</head>

<body style="background-color:gray;">
    <div class="container">
        <h1>{% block titulo %} Usuarios{% endblock titulo %}</h1>
        {% block contenido %}
        <table class="table">
         <thead>
          <tr>
           <th>Nombre</th>
           <th>Accion</th>
           <th>Fecha</th>
          </tr>
         </thead>
         <tbody>
          {% for persona in personas%}
          <tr>
          {% if forloop.last %}
           <td>{{ persona.nombre }}</td>
           <td>{{ persona.accion }}</td>
           <td>{{ persona.fecha }}</td>
          </tr>
        {% endif %}
          {% endfor %}
         </tbody>
        </table>
        {% endblock contenido %}
    <button class="btn btn-default"><a href="http://localhost:8000/alta">Entrada/Salida</a></button>
    </div>


</body>
</html>